<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="La fábrica de chocolate" />
  <meta name="description" content="PFC">
  <meta name="generator" content="SublimeText and Bootstrap" />

  <title>Candy Factory</title>

    <!-- Styles -->
    <link href="stylesheets/styles.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="assets/FI-WARE/img/logos/ico/favicon.png">

</head>

<body id="index">
  <div class="back"></div>
  <div class="back-s"></div>
  <div id="wrap">
    <div class="container">
      <div class="row" id="pwd-container">
        <div class="log">
          <h1 style="text-align: center;">Candy Factory</h1>
          <section class="login-form">
            <a href="/auth"> <button name="go" class="btn btn-lg btn-primary btn-block" style="margin-top: 0px;">Log in with Fiware</button></a>
          </section>  
        </div>
      </div>
    </div>
  </div><!--/#wrap -->
  <footer class="footer">
  </footer>
  
    <!-- Le javascripts -->
  <script type="text/javascript" src="javascripts/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap/bootstrap.min.js"></script>
</body>
</html>
