<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Candy Cane Room</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/liquidFillGauge.js"></script>
    <script type="text/javascript" src="javascripts/thermometer.js"></script>
    <script type="text/javascript" src="javascripts/gauge.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <script type="text/javascript" src="javascripts/singout.js"></script>
    <script>
      $(document).ready(function() {
        var config2 = liquidFillGaugeDefaultSettings();
          config2.circleColor = "#D4AB6A";
          config2.textColor = "#553300";
          config2.waveTextColor = "#805615";
          config2.waveColor = "#AA7D39";
          config2.circleThickness = 0.1;
          config2.circleFillGap = 0.2;
          config2.textVertPosition = 0.8;
          config2.waveAnimateTime = 2000;
          config2.waveHeight = 0.3;
          config2.waveCount = 1;

        var gauges = [];
        function createGauge(name, label, min, max){
            var config = 
            {
              size: 230,
              label: label,
              min: undefined != min ? min : 0,
              max: undefined != max ? max : 100,
              minorTicks: 5
            };
          
          var range = config.max - config.min;
          config.yellowZones = [{ from: config.min + range*0.75, to: config.min + range*0.9 }];
          config.redZones = [{ from: config.min + range*0.9, to: config.max }];
          
          gauges[name] = new Gauge(name + "GaugeContainer", config);
        }

        function createGauges() {
          createGauge("temp", "ºc", 0, 40);
          createGauge("pres", "mmhg", 0, 2000);
          createGauge("hardness", "hv", 0, 10000);
          createGauge("candyCane", "nº", 0, 50);
        }

        var tempIcon= '<span id="tempGaugeContainer"></span>';
        var presIcon= '<span id="presGaugeContainer"></span>';
        var tvIcon= '<span id="candyCaneGaugeContainer"></span>';
        var powIcon= '<span id="hardnessGaugeContainer"></span>';

        createGauges();
        $("#name").html("Television Room");
        $('#natt1').html("Temperature");
        $('#natt2').html("Pressure");
        $('#natt3').html("Hardness");
        $('#natt4').html("Candy Cane");
        $('#att1').html(tempIcon);
        $('#att2').html(presIcon);
        $('#att3').html(tvIcon);
        $('#att4').html(powIcon);
        gauges["temp"].render();
        gauges["pres"].render();
        gauges["candyCane"].render();
        gauges["hardness"].render();
        gauges["temp"].redraw(Math.round(10 * 100) / 100);
        gauges["pres"].redraw(Math.round(1000 * 100) / 100);
        gauges["candyCane"].redraw(Math.round(25 * 100) / 100);
        gauges["hardness"].redraw(Math.round(6000 * 100) / 100);
      });
    </script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
  </head>
  <body id="index">
    <div id="wrap">
      <div class="container">
        <div id='warped'>
          <div class="container text-center align-center">
            <h1 class="page-header">Candy Cane Room Control Panel</h1>
            <div id="profile_editor_switcher" class="dropdown switcher_bar logout" tabindex="1">
                <a class="dropdown-toggle" data-toggle="dropdown" href=""><%= username%> ▼</a>
                <ul style="background-color: white; color: black; min-width: 100px !important;" id="editor_list" class="dropdown-menu multi-level dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu">
                  <li>
                    <a href="/logout" style="text-align: right; width: 100%;">Sign Out</a>
                  </li>
                </ul>
            </div> 
            <div class="col-md-3"><h3 id="natt1"></h3><span id="att1"></span></div>
            <div class="col-md-3"><h3 id="natt2"></h3><span id="att2"></span></div>
            <div class="col-md-3"><h3 id="natt3"></h3><div id="att3"></div></div>
            <div class="col-md-3"><h3 id="natt4"></h3><span id="att4"></span></div> 
            <a href="/back"> <button class="btn btn-lg btn-primary btn-block">Go back</button></a>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">   
    </footer>
  </body>
</html>  